<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/myhiber</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		
		<!--hibernate dialect-->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		 
		<!--auto create/update schema-->
		 <property name="hibernate.hbm2ddl.auto">update</property> <!--if the table does not exist then only it will create this table automatically -->
		<!--<property name="hibernate.hbm2ddl.auto">create</property> --> <!--prev table will be deleted and will be created again-->
		 
		<!--show sql in console-->
		<property name="show_sql">true</property>   <!-- to see which queries are created-->
		
		<!--to format query for easy understanding-->
		<property name="format_sql">true</property>
		
		<!--manually enabling the second level cache that we want to use second level cache-->
		<property name="cache.use_second_level_cache">true</property> 
		
		<!-- to tell the class of second level cache-->
		<property name="cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>
		
		<!--mapping class-->
		<mapping class="com.example.Student"/> <!-- hibernate will treat this class entity and will create its table. for multiple classes we will use multiple mapping tags-->
		<mapping class="com.example.Address"/> <!-- hibernate will treat this class entity and will create its table. for multiple classes we will use multiple mapping tags-->
		<mapping class="com.mapp.Question"/>
		<mapping class="com.mapp.Answer"/>
		<mapping class="com.mapp1.Employee"/>
		<mapping class="com.mapp1.Project"/>
		<mapping resource="com/mapping/xml/Person.hbm.xml"/>
	</session-factory>
</hibernate-configuration>